.title-container {
    display: grid;
    grid-template-columns: 50px auto 50px ;
}

.title {
    text-align: center;
    padding-top: 20px;
}
.title > h1 {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.rank {
    text-align: right;
    padding: 0;
    cursor: pointer;
}
.rank > img {
    height: 35px;
}


