.modal-dialog {
    height:100vh;
    padding: 0;
    margin:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.modal-content {
    height: 350px;
    margin: 0;
}

/* .modal-body {
    width: 150px;
}

.modal-header {
    width: 300px;
}

.modal-footer {
    width: 300px;
} */